@model IEnumerable<Presentation.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <form method="post" action="/Blogs/Search">
        <label class="control-label">Search Blog:</label>
        <input type="text" name="search" class="form-control" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
</div>

<br />
<hr />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                Date Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                <span>@item.DateCreated.ToDateTime().ToString("dd/MM/yyyy")</span>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("See Posts", "Index", "Posts", new { id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {   id=item.Id   })
            </td>
        </tr>
}
    </tbody>
</table>
